# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Scraped data
*.csv
*.json

# Egg cache
.pytest_cache/
.coverage
.tox/
.pytest_cache/
.scrapy/

# Virtual environment
venv/
env/
